<div class="main">
  <div class="container">
	<section id="primary" class="content-full-width">

	  <h2 class="dt-sc-hr-green-title">Admin Actions</h2>
	  <div class="column dt-sc-one-fourth first">
		<a href="/permissions" class="dt-sc-button small"> Permissions <span class="fa fa-chevron-circle-right"> </span></a>
	  </div>

	  <div class="column dt-sc-one-fourth">
		<a href="/users" class="dt-sc-button small pink"> Users <span class="fa fa-chevron-circle-right"> </span></a>
		<a href="/users/list" class="dt-sc-button small pink"> Users List <span class="fa fa-chevron-circle-right"> </span></a>
	  </div>

	  <div class="column dt-sc-one-fourth">
		<a href="userevents" class="dt-sc-button small mustard"> Users for an event <span class="fa fa-chevron-circle-right"> </span></a>
	  </div>

	  <div class="column dt-sc-one-fourth">
		<a href="events/create" class="dt-sc-button small burnt-orange"> Create an event <span class="fa fa-chevron-circle-right"> </span></a>
		<a href="events/list" class="dt-sc-button small burnt-orange"> Events list <span class="fa fa-chevron-circle-right"> </span></a>
	  </div>

	  <div class="dt-sc-hr"></div>

	</section>
  </div>
</div>