<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	</head>
	<body>
		<table>
			<tbody>
				<tr>
					<td style="padding:40px 0  0 0;">
						<p style="color:#000;font-size: 16px;line-height:24px;font-family:'HelveticaNeue','Helvetica Neue',Helvetica,Arial,sans-serif;font-weight:normal;">

						<h2 style="font-size: 14px;font-family:'HelveticaNeue','Helvetica Neue',Helvetica,Arial,sans-serif;">
							Confirmation de votre réservation
						</h2>

						<p style="font-size: 13px;line-height:24px;font-family:'HelveticaNeue','Helvetica Neue',Helvetica,Arial,sans-serif;">
							Votre réservation a bien été prise en compte. <br>
							Le règlement de votre réservation vous sera réclamé à l'entrée du spectacle,<br>
							<strong>pour un montant de <?= $total_invoice; ?>€ (<?= $nb_adults; ?> adultes, <?= $nb_children; ?> enfants)</strong>.
							<br>
							<br>
							À très vite!
							<br>
							<img src="<?= $this->config->application->protocol . $this->config->application->publicUrl . '/images/logo-header3.png' ?>">
						</p>
					</td>
				</tr>
	</tbody>
</table>
</body>
</html>