<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	</head>
	<body>
		<table>
			<tbody>
				<tr>
					<td style="padding:40px 0  0 0;">
						<p style="color:#000;font-size: 16px;line-height:24px;font-family:'HelveticaNeue','Helvetica Neue',Helvetica,Arial,sans-serif;font-weight:normal;">

						<h2 style="font-size: 14px;font-family:'HelveticaNeue','Helvetica Neue',Helvetica,Arial,sans-serif;">
							Rappel de votre réservation
						</h2>

						<p style="font-size: 13px;line-height:24px;font-family:'HelveticaNeue','Helvetica Neue',Helvetica,Arial,sans-serif;">
							Votre réservation a bien été prise en compte, mais nous n'avons toujours pas reçu votre règlement.<br><br>
							Pour que celle-ci soit enregistrée définitivement,<br>
							veuillez nous faire parvenir votre règlement (espèces ou chèque à l'ordre de l'APE),<br>
							<strong>d'un montant de <?= $total_invoice; ?>€ (<?= $nb_adults; ?> adultes, <?= $nb_children; ?> enfants)</strong>, à l'adresse suivante:
							<br>
							<br>
							<strong>
								École publique des Reigniers<br>
								APE des Reigniers<br>
								27 Rue des Reigniers<br>
								44120 Vertou
							</strong>
							<br>
							<br>
							Pensez à joindre à votre règlement, l'email utilisé pour la réservation : <strong><?= $email ?></strong><br>
							Pour que nous puissions joindre facilement votre règlement à votre réservation.
							<br>
							<br>
							Une fois votre règlement réceptionné, vous receverez un nouvel email contenant votre numéro définitif de réservation.
							<br>
							<br>
							<strong>Si vous ne pouvez pas nous transmettre votre règlement avant la veille du spectacle, celui-ci vous sera réclamé à l'entrée.</strong>
							<br>
							<br>
							À très vite!
							<br>
							<img src="<?= $this->config->application->protocol . $this->config->application->publicUrl . '/images/logo-header3.png' ?>">
						</p>
					</td>
				</tr>
	</tbody>
</table>
</body>
</html>
