<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	</head>
	<body>
		<table>
			<tbody>
				<tr>
					<td style="padding:40px 0  0 0;">
						<p style="color:#000;font-size: 16px;line-height:24px;font-family:'HelveticaNeue','Helvetica Neue',Helvetica,Arial,sans-serif;font-weight:normal;">

						<h2 style="font-size: 14px;font-family:'HelveticaNeue','Helvetica Neue',Helvetica,Arial,sans-serif;">
							<?= $event_title ?> : C'est demain !!!
						</h2>

						<p style="font-size: 13px;line-height:24px;font-family:'HelveticaNeue','Helvetica Neue',Helvetica,Arial,sans-serif;">
							Le spectacle tant attendu par petits et grands à lieu demain. 
							<br>
							<br>
							Si vous avez déjà reçu votre numéro de réservation, ne l'oubliez pas demain, il vous sera utile pour accéder facilement et rapidement à la salle de spectacle.
							<br>
							<br>
							Si vous ne l'avez pas, cela signifie que nous n'avons pas encore reçu votre règlement.
							<br>
							Si vous l'avez envoyé par courrier, mais qu'il ne nous est pas parvenu à temps, nous vous demanderons quand même de régler vos places à l'entrée,
							<br>
							et nous vous restituerons le règlement "retardataire" par courrier.
							<br>
							<br>
							Vous trouverez également gâteaux et boissons, pour petits et grands, en vente à l'intérieur de la salle.
							<br>
							<br>
							Étant donné le grand nombre de réservations, nous avons décidé d'ouvrir les portes 15 minutes avant l'heure annoncée.
							<br>
							Nous vous attendons donc à partir de 14h45 à la salle Sèvre et Maine, rue Sèvre et Maine, 44120 Vertou.
							<br>
							<br>
							À très vite!
							<br>
							<img src="<?= $this->config->application->protocol . $this->config->application->publicUrl . '/images/logo-header3.png' ?>">
						</p>
					</td>
				</tr>
	</tbody>
</table>
</body>
</html>

