<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	</head>
	<body>
		<table>
			<tbody>
				<tr>
					<td style="padding:40px 0  0 0;">
						<p style="color:#000;font-size: 16px;line-height:24px;font-family:'HelveticaNeue','Helvetica Neue',Helvetica,Arial,sans-serif;font-weight:normal;">

						<h2 style="font-size: 14px;font-family:'HelveticaNeue','Helvetica Neue',Helvetica,Arial,sans-serif;">
							Votre réservation est confirmée!
						</h2>

						<p style="font-size: 13px;line-height:24px;font-family:'HelveticaNeue','Helvetica Neue',Helvetica,Arial,sans-serif;">
							Nous avons bien reçu votre règlement d'un montant de <?= $total_invoice; ?>€ (<?= $nb_adults; ?> adultes, <?= $nb_children; ?> enfants),
							<br>
							pour le spectacle "<?= $event_title ?>", et nous vous en remercions!
							<br>
							<br>
							Votre numéro de réservation est le
							<br>
							<span style="display:block;margin: 0 auto;background-color:black;color:white;font-size:2em;padding: 10px;width: auto;text-align: center;"><strong>#<?= $reservation_id ?></strong></span>
							<br>
							Noubliez pas de vous munir de ce numéro à l'entrée du spectacle.

							<br>
							<br>
							À très vite!
							<br>
							<img src="<?= $this->config->application->protocol . $this->config->application->publicUrl . '/images/logo-header3.png' ?>">
						</p>
					</td>
				</tr>
	</tbody>
</table>
</body>
</html>
