
<section class="fullwidth-background turquoise-plain-bg">
    <!--container starts-->
    <div class="container"> 
        <h2 class="dt-sc-hr-white-title">Connexion</h2> 
        <?php echo Phalcon\Tag::form(array('session/login', 'method' => 'post', 'class' => 'comment-form')); ?>
            <p class="column dt-sc-one-half first">
                <?php echo $loginForm->render('email') ?>
            </p>
            <p class="column dt-sc-one-half">
                <?php echo $loginForm->render('password') ?>
            </p>
            <div id="ajax_admission_msg"> </div>
            <p class="aligncenter">
                <input name="submit" type="submit" id="submit" value="Connexion!">
            </p>
        <?php echo Phalcon\Tag::endForm(); ?>
    </div>
    <!--container ends-->
</section>