<div class="main">
	<div class="container">
		<!--primary starts-->
		<section id="primary" class="content-full-width">
			<h2 class="dt-sc-hr-green-title">Add user</h2>
			<?php echo Phalcon\Tag::form(array('usersevents/add/' . $event_id, 'method' => 'post', 'class' => 'comment-form')); ?>
			<input type="hidden" name="event_id" value="<?= $event_id ?>">
			<p class="column dt-sc-one-half first">
			  <?php echo $bookingForm->render('name') ?>
			</p>
			<p class="column dt-sc-one-half">
			  <?php echo $bookingForm->render('firstname') ?>
			</p>
			<p class="column dt-sc-one-third first">
			  <?php echo $bookingForm->render('email') ?>
			</p>
			<p class="column dt-sc-one-third">
			  <?php echo $bookingForm->render('nb_adults') ?>
			</p>
			<p class="column dt-sc-one-third">
			  <?php echo $bookingForm->render('nb_children') ?>
			</p>
			<p class="aligncenter">
				<label for=""paid">Payé ?</label>
				<input name="paid" type="checkbox" id="paid">
			</p>
			<p class="aligncenter">
				<label for=""is_i">Invité ?</label>
				<input name="is_i" type="checkbox" id="is_i">
			</p>
			<p class="aligncenter">
				<input name="submit" type="submit" id="submit" value="Je réserve!">
			<a href="/usersevents/list/<?= $event_id ?>" class="dt-sc-button small green">Show Event's Users</a>
			<a href="/usersevents/entry/<?= $event_id ?>" class="dt-sc-button small blue">Entry app</a>
			</p>
			<?php echo Phalcon\Tag::endForm(); ?>
		</section>
	</div>
</div>
