<div class="main">
	<div class="container">
		<!--primary starts-->
		<section id="primary" class="content-full-width">
			<h2 class="dt-sc-hr-green-title">Add user</h2>
			<?php echo Phalcon\Tag::form(array('usersevents/edit/' . $user->getId(), 'method' => 'post', 'class' => 'comment-form')); ?>
			<input type="hidden" name="event_id" value="<?= $user->getEventId() ?>">
			<p class="column dt-sc-one-half first">
			  <input type="text" id="name" name="name" placeholder="Nom" value="<?= $user->getName() ?>">
			</p>
			<p class="column dt-sc-one-half">
			  <input type="text" id="firstname" name="firstname" placeholder="Prénom" value="<?= $user->getFirstname() ?>">
			</p>
			<p class="column dt-sc-one-third first">
			  <input type="email" id="email" name="email" placeholder="Email" value="<?= $user->getEmail() ?>">
			</p>
			<p class="column dt-sc-one-third">
			  <input type="number" id="nb_adults" name="nb_adults" placeholder="Nb d'adultes" value="<?= $user->getNbAdults() ?>">
			</p>
			<p class="column dt-sc-one-third">
			  <input type="number" id="nb_children" name="nb_children" placeholder="Nb d'enfants" value="<?= $user->getNbChildren() ?>">
			</p>
			<p class="aligncenter">
				<label for="paid">Payé ?</label>
				<input name="paid" type="checkbox" id="paid"<?= $user->getPaid() ? 'checked' : '' ?>>
			</p>
			<p class="aligncenter">
				<input name="submit" type="submit" id="submit" value="Modifier">
			<a href="/usersevents/list/<?= $user->getEventId() ?>" class="dt-sc-button small green">Show Event's Users</a>
			</p>
			<?php echo Phalcon\Tag::endForm(); ?>
		</section>
	</div>
</div>

