<div class="main">
	<div class="container">
		<!--primary starts-->
		<section id="primary" class="content-full-width">
			<h2 class="dt-sc-hr-green-title">Entry</h2>
			<a href="/usersevents/add/<?= $event_id ?>" class="dt-sc-button small green">Add Event's Users</a>
			<a href="/usersevents/list/<?= $event_id ?>" class="dt-sc-button small green">List app</a>
			<table id="userseventtable">
				<thead>
					<th>Name</th>
					<th>Email</th>
					<th>Reservation ID</th>
					<th>Paid ?</th>
					<th>Adults</th>
					<th>Children</th>
					<th>Total</th>
					<th>Click</th>
				</thead>
				<tbody>
					<?php foreach($users as $user): ?>
					<?php if(!$user->getIsEntered()): ?>
					<tr style="color:<?= $user->getIsEntered() ? 'green' : (($user->getIsI() && APP_ENV == 'dev') ? 'blue' : (!$user->getPaid() ? 'red' : '')) ?>">
						<td><?= $user->getName() . ' ' . $user->getFirstname() ?></td>
						<td><?= $user->getEmail() ?></td>
						<td><?= $user->getReservationId() ?></td>
						<td><?= $user->getPaid() == true ? 'Y' : 'N' ?></td>
						<td><strong><?= $user->getNbAdults() ?></strong></td>
						<td><strong><?= $user->getNbChildren() ?></strong></td>
						<td><?= $user->getTotalInvoice() ?>€</td>
						<td><a href="/usersevents/addajaxentry/<?= $user->getId() ?>" data-id="<?= $user->getId() ?>" class="entry-button dt-sc-button small mustard">OK!</a></td>
					</tr>
					<?php endif; ?>
					<?php endforeach; ?>
				</tbody>
			</table>
			<div class="dt-sc-hr"></div>
		</section>
	</div> 
</div>


