<div class="main">
	<div class="container">
		<!--primary starts-->
		<section id="primary" class="content-full-width">
			<h2 class="dt-sc-hr-green-title">Event's users list (<?= $nb_adults_total ?> adults / <?= $nb_children_total ?> children / <?= $total_money ?>€)</h2>
			<a href="/usersevents/add/<?= $event_id ?>" class="dt-sc-button small green">Add Event's Users</a>
			<a href="/usersevents/entry/<?= $event_id ?>" class="dt-sc-button small green">Entry app</a>
			<table id="userseventtable">
				<thead>
					<th>Name</th>
					<th>Email</th>
					<th>Reservation ID</th>
					<th>Paid ?</th>
					<th>Adults</th>
					<th>Children</th>
					<th>Total</th>
					<th>Created / Recalled</th>
					<th>Actions</th>
				</thead>
				<tbody>
					<?php foreach($users as $user): ?>
					<tr style="color:<?= $user->getIsEntered() ? 'green' : (!$user->getPaid() ? 'red' : '') ?>">
						<td><?= $user->getName() . ' ' . $user->getFirstname() ?></td>
						<td><?= $user->getEmail() ?></td>
						<td><?= $user->getReservationId() ?></td>
						<td><?= $user->getPaid() == true ? 'Y' : 'N' ?></td>
						<td><?= $user->getNbAdults() ?></td>
						<td><?= $user->getNbChildren() ?></td>
						<td><?= $user->getTotalInvoice() ?>€</td>
						<td><?= date('d-m-Y', $user->getCreated()->sec) ?><br><?= $user->getRecalled() ? date('d-m-Y', $user->getRecalled()->sec) : 'null' ?></td>
						<td>
							<a href="/usersevents/delete/<?= $user->getId() ?>" class="dt-sc-button small">Delete</a>
							<a href="/usersevents/edit/<?= $user->getId() ?>" class="dt-sc-button small pink">Edit</a>
							<a href="/usersevents/validatepaiement/<?= $user->getId() ?>" class="dt-sc-button small green">Validate</a>
							<a href="/usersevents/recall/<?= $user->getId() ?>" class="dt-sc-button small mustard">Recall</a>
						</td>
					</tr>
					<?php endforeach; ?>
				</tbody>
			</table>
			<div class="dt-sc-hr"></div>
		</section>
	</div> 
</div>

