<section id="primary" class="content-full-width">
    <!--container starts-->
    <div class="container">
    
        <!--<h2 class="dt-sc-hr-green-title">Site en cours de création!</h2>-->
        <?php
            foreach($events as $event):
        ?>
        <div class="dt-sc-one-column">
            <article class="blog-entry">
                <div class="blog-entry-inner">		
                    <div class="entry-details">	
                        <div class="entry-title">
                            <h3><a href="/events/view/<?= $event->getId(); ?>"> <?= $event->getTitle(); ?> </a></h3>
                        </div>
					</div>
                    <div class="entry-meta">
                        <div class="date">
                            <span> <?= date('d', $event->getEventDate()->sec) ?> </span> 
                            <p> <?= date('M', $event->getEventDate()->sec) ?> <br> <?= date('Y', $event->getEventDate()->sec) ?> </p> 
                        </div>
                        <div class="entry_format">
                            <?= date('H:i', $event->getEventDate()->sec) ?>
                        </div>
                    </div>		
                    <div class="entry-thumb">
                        <a href="/events/view/<?= $event->getId(); ?>">
                            <?= $this->tag->image(array(
                                'images/' . $event->getImage()[0],
								'class' => 'image-home'
                            )) ?>
                        </a>
                    </div>		
                    <div class="entry-details">		
                        <div class="entry-body">
                            <?= $event->getResume(); ?>
                            
                        </div>	 		
                        <a href="/events/view/<?= $event->getId(); ?>" class="dt-sc-button small"> Lire plus ... <span class="fa fa-chevron-circle-right"> </span></a>		
                    </div>	
                </div>
            </article>
        </div>
        <?php
            endforeach;
        ?>
    </div>
</section>