;;;;;;;;;;;;;;;;;;;;;
; FPM Configuration ;
;;;;;;;;;;;;;;;;;;;;;

; All relative paths in this configuration file are relative to PHP's install
; prefix.

; Include one or more files. If glob(3) exists, it is used to include a bunch of
; files from a glob(3) pattern. This directive can be used everywhere in the
; file.
include = <%= "#{node['php-fpm']['pool_conf_dir']}/*.conf" %>

;;;;;;;;;;;;;;;;;;
; Global Options ;
;;;;;;;;;;;;;;;;;;

[global]
; Pid file
; Default Value: none
pid = <%= node['php-fpm']['pid'] %>

; Error log file
; Default Value: /var/log/php-fpm.log
error_log = <%= node['php-fpm']['error_log'] %>

; Log level
; Possible Values: alert, error, warning, notice, debug
; Default Value: notice
log_level = <%= node['php-fpm']['log_level'] %>

; If this number of child processes exit with SIGSEGV or SIGBUS within the time
; interval set by emergency_restart_interval then FPM will restart. A value
; of '0' means 'Off'.
; Default Value: 0
emergency_restart_threshold = <%= node['php-fpm']['emergency_restart_threshold'] %>

; Interval of time used by emergency_restart_interval to determine when
; a graceful restart will be initiated.  This can be useful to work around
; accidental corruptions in an accelerator's shared memory.
; Available Units: s(econds), m(inutes), h(ours), or d(ays)
; Default Unit: seconds
; Default Value: 0
emergency_restart_interval = <%= node['php-fpm']['emergency_restart_interval'] %>

; Time limit for child processes to wait for a reaction on signals from master.
; Available units: s(econds), m(inutes), h(ours), or d(ays)
; Default Unit: seconds
; Default Value: 0
process_control_timeout = <%= node['php-fpm']['process_control_timeout'] %>

; Send FPM to background. Set to 'no' to keep FPM in foreground for debugging.
; Default Value: yes
daemonize = yes

;;;;;;;;;;;;;;;;;;;;
; Pool Definitions ;
;;;;;;;;;;;;;;;;;;;;

; See <%= "#{node['php-fpm']['pool_conf_dir']}/*.conf" %>

