<div class="main">
	<div class="container">
		<!--primary starts-->
		<section id="primary" class="content-full-width">
			<h2 class="dt-sc-hr-green-title">Event creation</h2>
			<form method="post" enctype="multipart/form-data">
				<input type="hidden" name="_id" value="<?= $event->getId() ?>">
				<div class="column dt-sc-one-column first">
					<label for="title">
						Title
						<input type="text" name="title" id="title" placeholder="Title" value="<?= $event->getTitle() ?>">
					</label>
				</div>
				<div class="column dt-sc-one-half first">	
					<label for="event_date">
						Event date "yyyy-mm-dd hh:mm"
						<input type="text" name="event_date" placeholder='Event date "yyyy-mm-dd hh:mm"' value="<?= date('Y-m-d H:i', $event->getEventDate()->sec) ?>">
					</label>
				</div>
				<div class="column dt-sc-one-half">	
					<label for="booking_start_date">
						Booking start date "yyyy-mm-dd hh:mm"
						<input type="text" name="booking_start_date" placeholder='Booking start date "yyyy-mm-dd hh:mm"' value="<?= date('Y-m-d H:i', $event->getBookingStartDate()->sec) ?>">
					</label>
				</div>
				<div class="column dt-sc-one-third first">	
					<label for="adults_price">
						Adults Price
						<input type="text" name="adults_price" id="adults_price" placeholder='Adults Price' value="<?= $event->getAdultsPrice() ?>">
					</label>
				</div>
				<div class="column dt-sc-one-third">	
					<label for="children_price">
						Children Price
						<input type="text" name="children_price" id="children_price" placeholder='Children Price' value="<?= $event->getChildrenPrice() ?>">
					</label>
				</div>
				<div class="column dt-sc-one-third">	
					<label for="title">
						Max Places
						<input type="text" name="max_places" id="max_places" placeholder='Max Places' value="<?= $event->getMaxPlaces() ?>">
					</label>
				</div>

				<div class="column dt-sc-one-half first">
					<label for="active_registrations">
						Active registrations ?
						<input type="checkbox" name="active_registrations" id="active_registrations" <?= $event->getActiveRegistrations() == true ? 'checked' : '' ?>>
					</label>
				</div>
				<div class="column dt-sc-one-half">	
					<label for="active">
						Event is active ?
						<input type="checkbox" name="active" id="active" <?= $event->getActive() == true ? 'checked' : '' ?>>
					</label>
				</div>
				<p>Content</p>
				<textarea name="content"><?= $event->getContent() ?></textarea>
				<p>Special content</p>
				<textarea name="special_content"><?= $event->getSpecialContent() ?></textarea>
				<div class="dt-sc-hr"></div>
				<p class="aligncenter">
					<input name="submit" type="submit" id="submit" value="Update!">
				</p>
			</form>
			<div class="dt-sc-hr"></div>
		</section>
	</div>
</div>
