<div class="main">
	<div class="container">
		<!--primary starts-->
		<section id="primary" class="content-full-width">
			<h2 class="dt-sc-hr-green-title">Events list</h2>
			<table>
				<thead>
					<th>Name</th>
					<th>Date</th>
					<th>Active ?</th>
					<th>Actions</th>
				</thead>
				<tbody>
					<?php foreach($events as $event): ?>
					<tr>
						<td><a href="/events/view/<?= $event->getId() ?>"><?= $event->getTitle() ?></a></td>
						<td><?= date('d/m/Y H:i', $event->getEventDate()->sec) ?></td>
						<td><?= $event->getActive() == true ? 'Y' : 'N' ?></td>
						<td>
							<a href="/events/delete/<?= $event->getId() ?>" class="dt-sc-button small">Delete</a>
							<a href="/events/edit/<?= $event->getId() ?>" class="dt-sc-button small pink">Edit</a>
							<a href="/usersevents/list/<?= $event->getId() ?>" class="dt-sc-button small green">Show Users</a>
							<a href="/usersevents/add/<?= $event->getId() ?>" class="dt-sc-button small yellow">Add User</a>
							<a href="/usersevents/entry/<?= $event->getId() ?>" class="dt-sc-button small orange-bg">Entry app</a>
							<a href="/events/recall/<?= $event->getId() ?>" class="dt-sc-button small mustard">Recall All</a>
						</td>
					</tr>
					<?php endforeach; ?>
				</tbody>
			</table>
		</section>
	</div> 
</div>
