<div class="main">
    <div class="container">
		<section id="primary" class="content-full-width">
			<h2 class="dt-sc-hr-green-title"><?= $event->getTitle(); ?> - Le <?= date('d/m/Y', $event->getEventDate()->sec) ?> à <?= date('H:i', $event->getEventDate()->sec) ?></h2>
			<div class="column dt-sc-one-half first">
				<div class="about-slider-wrapper">
					<ul class="about-slider">
						<?php foreach ($event->getImage() as $image): ?>
						<li> 
						  <?=
						  $this->tag->image(array(
							  'images/' . $image
						  ))
						  ?> 
						</li>
						<?php endforeach; ?>
					</ul>
				</div>	
			</div>

			<!--dt-sc-one-half starts-->
			<div class="column dt-sc-one-half">
				<p><?= $event->getContent(); ?></p>
				<?php if ($event->getActiveRegistrations()): ?>
					<a href="#register" class="dt-sc-button small read-more"> Réserver mes places !!! <span class="fa fa-chevron-circle-right"> </span></a>   
				<?php endif; ?>
			</div> 
			<!--dt-sc-one-half ends-->
			
			<div class="dt-sc-hr"></div>
			<?php if ($event->getAdultsPrice() || $event->getChildrenPrice()): ?>
			<div class="dt-sc-one-half column first">
				<h2>Tarifs</h2> 
				<div class="author-details">
					<div class="author-thumb">
						<img class="item-mask" src="/images/author-hexa-bg.png" alt="" title="">
						<img src="/images/family-512.png" alt="" title="">
					</div>
					<div class="author-description">
						<h5>Adultes ( > 15 ans)</h5>
						<span class="author-role"><?= $event->getAdultsPrice() . '€' ?></span>
					</div>
					<div class="author-description">
						<h5>Enfants (entre 3 et 15 ans)</h5>
						<span class="author-role"><?= $event->getChildrenPrice() . '€' ?></span>
					</div>
				</div>
			</div>
			<?php endif; ?>
			<?php if($event->getSpecialContent()): ?>
			<div class="dt-sc-one-half column first">
				<?= $event->getSpecialContent(); ?>
			</div>
			<?php endif; ?>
			<?php if(count($event->getSponsors()) > 0): ?>
			<h2 class="dt-sc-hr-green-title">Nos Sponsors</h2>
			<div class="dt-sc-sponsor-carousel-wrapper">                    
				<ul class="dt-sc-sponsor-carousel">
					<?php foreach ($event->getSponsors() as $sponsor): ?>
					<li><img src="/images/<?= $sponsor ?>" alt="" title=""></li>
					<?php endforeach; ?>
				</ul>

				<div class="carousel-arrows">
					<a class="sponsor-prev" href="#"> </a>
					<a class="sponsor-next" href="#"> </a>
				</div>
			</div>
			<?php endif; ?>
			<div class="dt-sc-hr"></div>
			<?php if ($event->getActiveRegistrations()): ?>
				<a id="register"></a>
				<h2 class="dt-sc-hr-green-title">Réservation</h2>
				<?php if($event->getBookingStartDate()->sec <= time()): ?>
				<p>
					<!--Une fois votre réservation enrégistrée, veuillez envoyer votre règlement (chèque à l'ordre de l'APE ou espèces), à l'adresse suivante:<br/>
					Ecole publique des Reigniers, APE des Reigniers, 27 Rue des Reigniers, 44120 Vertou.<br/>
					À réception de votre règlement, vous recevrez un email contenant votre numéro de réservation.<br/><br/>
					<strong>Si vous ne pouvez pas nous faire parvenir votre règlement avant la veille du spectacle, 
					vous pouvez également régler votre réservation, le jour même, à l'entrée du spectacle.</strong>-->
					Une fois votre réservation faite, vous recevrez un email de confirmation.<br/>
					Le règlement de votre réservation vous sera réclamé à l'entrée du spectacle.
				</p>
				<?php echo Phalcon\Tag::form(array('events/booking', 'method' => 'post', 'class' => 'comment-form')); ?>
				<input type="hidden" name="event_id" value="<?= $event->getId() ?>">
				<p class="column dt-sc-one-half first">
					<?php echo $bookingForm->render('name') ?>
				</p>
				<p class="column dt-sc-one-half">
					<?php echo $bookingForm->render('firstname') ?>
				</p>
				<p class="column dt-sc-one-third first">
					<?php echo $bookingForm->render('email') ?>
				</p>
				<p class="column dt-sc-one-third">
					<?php echo $bookingForm->render('nb_adults') ?>
				</p>
				<p class="column dt-sc-one-third">
					<?php echo $bookingForm->render('nb_children') ?>
				</p>
				<p class="aligncenter">
					<input name="submit" type="submit" id="submit" value="Je réserve!">
				</p>
				<?php echo Phalcon\Tag::endForm(); ?>
				<?php else: ?>
				<p>
					<h4>
						Les réservations ouvrent le <?= date('d-m-Y', $event->getBookingStartDate()->sec) ?>. À très vite!!!
					</h4>
				</p>
			<?php endif; ?>
			<?php endif; ?>
			<div class="dt-sc-hr"></div>
		</section>
    </div>
</div>