<!--primary starts-->
<section id="primary" class="content-full-width">
    <!--container starts-->
    <div class="container">
    
        <h2 class="dt-sc-hr-green-title">L'équipe</h2>
        <div class="column dt-sc-one-fourth first">
            <div class="dt-sc-team">	
                <div class="image">
                    <img class="item-mask" src="images/mask.png" alt="" title="">
                    <img src="images/cartoon8.jpg" alt="" title="">
                </div>
                <div class="team-details">
                    <h4> Nadia </h4>
                    <h6> Présidente </h6>
                </div>
            </div>
        </div>
        <div class="column dt-sc-one-fourth">
            <div class="dt-sc-team">	
                <div class="image">
                    <img class="item-mask" src="images/mask.png" alt="" title="">
                    <img src="images/cartoon3.jpg" alt="" title="">
                </div>
                <div class="team-details">
                    <h4> Jérôme (Jéjé) </h4>
                    <h6> Vice Président </h6>
                </div>
            </div>
        </div>
        <div class="column dt-sc-one-fourth">
            <div class="dt-sc-team">	
                <div class="image">
                    <img class="item-mask" src="images/mask.png" alt="" title="">
                    <img src="images/cartoon11.jpg" alt="" title="">
                </div>
                <div class="team-details">
                    <h4> Julien </h4>
                    <h6> Secrétaire </h6>
                </div>
            </div>
        </div>
        <div class="column dt-sc-one-fourth">
            <div class="dt-sc-team">	
                <div class="image">
                    <img class="item-mask" src="images/mask.png" alt="" title="">
                    <img src="images/cartoon8.jpg" alt="" title="">
                </div>
                <div class="team-details">
                    <h4> Caroline </h4>
                    <h6> Vice Secrétaire </h6>
                </div>
            </div>
        </div>
        <div class="column dt-sc-one-fourth first">
            <div class="dt-sc-team">	
                <div class="image">
                    <img class="item-mask" src="images/mask.png" alt="" title="">
                    <img src="images/cartoon9.jpg" alt="" title="">
                </div>
                <div class="team-details">
                    <h4> Kevin </h4>
                    <h6> Trésorier </h6>
                </div>
            </div>
        </div>
        <div class="column dt-sc-one-fourth">
            <div class="dt-sc-team">	
                <div class="image">
                    <img class="item-mask" src="images/mask.png" alt="" title="">
                    <img src="images/cartoon1.jpg" alt="" title="">
                </div>
                <div class="team-details">
                    <h4> Brieuc</h4>
                    <h6> Membre actif </h6>
                </div>
            </div>
        </div>
        <div class="column dt-sc-one-fourth">
            <div class="dt-sc-team">	
                <div class="image">
                    <img class="item-mask" src="images/mask.png" alt="" title="">
                    <img src="images/cartoon12.jpg" alt="" title="">
                </div>
                <div class="team-details">
                    <h4> Christine</h4>
                    <h6> Membre actif </h6>
                </div>
            </div>
        </div>
        <div class="column dt-sc-one-fourth">
            <div class="dt-sc-team">	
                <div class="image">
                    <img class="item-mask" src="images/mask.png" alt="" title="">
                    <img src="images/cartoon7.jpg" alt="" title="">
                </div>
                <div class="team-details">
                    <h4> Cynthia</h4>
                    <h6> Membre actif </h6>
                </div>
            </div>
        </div>
        <div class="column dt-sc-one-fourth first">
            <div class="dt-sc-team">	
                <div class="image">
                    <img class="item-mask" src="images/mask.png" alt="" title="">
                    <img src="images/cartoon3.jpg" alt="" title="">
                </div>
                <div class="team-details">
                    <h4> Jérôme (Rôrôme) </h4>
                    <h6> Membre actif </h6>
                </div>
            </div>
        </div>
        <div class="column dt-sc-one-fourth">
            <div class="dt-sc-team">	
                <div class="image">
                    <img class="item-mask" src="images/mask.png" alt="" title="">
                    <img src="images/cartoon2.jpg" alt="" title="">
                </div>
                <div class="team-details">
                    <h4> Philippe</h4>
                    <h6> Membre actif </h6>
                </div>
            </div>
        </div>
        <div class="column dt-sc-one-fourth">
            <div class="dt-sc-team">	
                <div class="image">
                    <img class="item-mask" src="images/mask.png" alt="" title="">
                    <img src="images/cartoon6.jpg" alt="" title="">
                </div>
                <div class="team-details">
                    <h4> Raphaël</h4>
                    <h6> Membre actif </h6>
                </div>
            </div>
        </div>
    </div>
</section>