<div class="container">
	<!--primary starts-->
	<section id="primary" class="content-full-width">

		<div id="map"> </div>

		<div class="dt-sc-hr"> </div>

		<!--dt-sc-two-third starts-->
		<div class="column dt-sc-three-fourth first contact_form_outer">
			<?php echo Phalcon\Tag::form(array('contact', 'method' => 'post', 'class' => 'contact-form')); ?>
				<h2>Nous adorons entendre parler de vous!</h2>
				<p class="column dt-sc-one-third first">
					<?php echo $contactForm->render('name') ?>
				</p>
				<p class="column dt-sc-one-third">
					<?php echo $contactForm->render('email') ?>
				</p>
				<p class="column dt-sc-one-third">
					<?php echo $contactForm->render('subject') ?>
				</p>
				<p>
					<?php echo $contactForm->render('message') ?>
				</p>
				<p>
					<input name="submit" type="submit" id="submit" class="dt-sc-button medium" value="Envoyer">
				</p>
			</form>
		</div>
		<!--dt-sc-two-third ends-->

		<!--dt-sc-one-third starts-->
		<div class="column dt-sc-one-fourth class_hours">
			<h2>Notre adresse</h2>
			<ul class="class_hours">
				<li>Ecole des Reigniers<br>APE des Reigniers<br>27 Rue des Reigniers<br>44120 Vertou</li>
			</ul>
			<div class="dt-sc-hr-small"></div>
		</div>
		<!--dt-sc-one-third ends-->

		<div class="dt-sc-hr"> </div>
	</section>
	<!--primary ends-->
</div>