<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"> 
    <?= $this->tag->getTitle(); ?>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />

    <!-- CSS -->
    <?= $this->assets->outputCss('appCss'); ?>
    
    <!--jquery-->
    <?= $this->assets->outputJs('headJs'); ?>
</head>
<body class="main">
    <!--main starts-->
    <div id="main">
        <?= $this->getContent(); ?>
    </div>
    <!--main ends-->
    
    <!--wrapper ends-->
    <a href="#" title="Go to Top" class="back-to-top">To Top ↑</a>
    
    <!--Java Scripts-->
    <?= $this->assets->outputJs('commonJs'); ?>
    
    <!-- Layer Slider --> 
    <?= $this->assets->outputJs('layerSliderJs'); ?>
    
    <!--<script type="text/javascript">var lsjQuery = jQuery;</script>--> 
    <script type="text/javascript">
        var lsjQuery = jQuery;
    </script>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-71688458-1', 'auto');
  ga('send', 'pageview');

</script>
    <script type="text/javascript"> 
        lsjQuery(document).ready(function() { 
            if(typeof lsjQuery.fn.layerSlider == "undefined") { 
                lsShowNotice('layerslider_1','jquery'); 
            } 
            else { 
                lsjQuery("#layerslider_4").layerSlider({
                    responsiveUnder: 1170, 
                    layersContainer: 1170, 
                    skinsPath: 'js/layerslider/skins/'}) 
            } 
            jQuery('#<?php echo $activeClass; ?>').addClass('current_page_item');
        }); 
    </script>
</body>
</html>
