
	<!--wrapper starts-->
    <div class="wrapper">
        <!--header starts-->
        <header>
            <div class="container">
                <div class="logo">
                    <a href="/" title="L'école en fête" class="titre"><img src="/images/logo-header3.png"></a>
                </div>
                <div class="contact-details">
                    <p class="mail">
                        <a href="mailto:contact@lecoleenfete.fr">contact@lecoleenfete.fr</a>
                        <span class="fa fa-envelope"></span>
					</p> 
                    <p class="phone-no">
                        <i>27 Rue des Reigniers, 44120 Vertou</i>
                        <span class="fa fa-map-marker"></span>
                	</p>      
                </div>
            </div>
            <!--menu-container starts-->
            <div id="menu-container">
                <div class="container">
                    <!--nav starts-->
                    <nav id="main-menu">
                    	<div class="dt-menu-toggle" id="dt-menu-toggle">Menu<span class="dt-menu-toggle-icon"></span></div>
                        <ul id="menu-main-menu" class="menu">
                            <li id="home" class="red"> <a href="/"> Accueil </a> </li>
                            <li id="contact" class="green"> <a href="/contact"> Nous Contacter </a> </li>
                            <li id="team" class="lavender"> <a href="/team"> L'équipe </a> </li>
							<?php if($this->acl->isAllowed($profile, 'admin', 'index')): ?>
                            <li id="admin" class="purple"> <a href="/admin"> Admin </a> </li>
                            <li id="admin" class="pink"> <a href="/session/logout"> Déconnexion </a> </li>
							<?php endif; ?>
                        </ul>
                    </nav>
                    <!--nav ends-->

                    <!--<ul class="dt-sc-social-icons">
                        <li><a href="#" title="Facebook" class="dt-sc-tooltip-top facebook"><span class="fa fa-facebook"></span></a></li>
                        <li><a href="#" title="Youtube" class="dt-sc-tooltip-top youtube"><span class="fa fa-youtube"></span></a></li>
                        <li><a href="#" title="Twitter" class="dt-sc-tooltip-top twitter"><span class="fa fa-twitter"></span></a></li>
                        <li><a href="#" title="Google Plus" class="dt-sc-tooltip-top gplus"><span class="fa fa-google-plus"></span></a></li>
                    </ul>-->
                </div>
            </div>
            <!--menu-container ends-->
        </header>
        <!--header ends-->
        <?php echo $this->flash->output(); ?>
        <?php echo $this->flashSession->output(); ?>
        <?= $this->getContent(); ?>
        
        <!--footer starts-->
        <footer>
            <!--footer-widgets-wrapper starts-->
            <div class="footer-widgets-wrapper">
                <!--container starts-->
                <div class="container">
                    
                    <!--<div class="column dt-sc-one-fourth first">
                        <aside class="widget widget_text">
                            <h3 class="widgettitle red_sketch"> About Kids Life </h3>
                            <p>Happy <a href="#"><strong>Kids Life</strong></a> comes with powerful theme options, which empowers you to quickly and easily build incredible store.</p>
                            <ul>
                                <li> <a href="#"> English Grammar Class </a> </li>
                                <li> <a href="#"> Music class </a> </li>
                                <li> <a href="#"> Swimming & Karate </a> </li>
                                <li> <a href="#"> Lot of HTML Styles </a> </li>
                                <li> <a href="#"> Unique News Page Design </a> </li>
                            </ul>
                        </aside>
                    </div>
                    <div class="column dt-sc-one-fourth">
                        <aside class="widget widget_recent_entries">
                            <h3 class="widgettitle green_sketch"> Latest Post </h3>
                            <ul>
                                <li>
                                    <a href="#">
                                        <img src="images/blog_list1.jpg" alt="" title="">
                                    </a>    
                                    <h6><a href="#"> Amazing post with all  goodies </a></h6>
                                    <span> March 23, 2014 </span>       
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="images/blog_list2.jpg" alt="" title="">
                                    </a>
                                    <h6><a href="#"> Amazing post with all  goodies </a></h6>
                                    <span> March 23, 2014 </span> 
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="images/blog_list3.jpg" alt="" title="">
                                    </a>
                                    <h6><a href="#"> Amazing post with all  goodies </a></h6>
                                    <span> March 23, 2014 </span> 
                                </li>
                            </ul>
                        </aside>
                    </div>
                    <div class="column dt-sc-one-fourth">
                        <aside class="widget tweetbox">
                            <h3 class="widgettitle yellow_sketch"><a href="#"> Twitter Feeds </a></h3>
                            <div id="tweets_container"></div>
                        </aside>
                    </div>
                    <div class="column dt-sc-one-fourth">
                        <aside class="widget widget_text">
                        <h3 class="widgettitle steelblue_sketch">Contact</h3>
                            <div class="textwidget">
                                <p class="dt-sc-contact-info"><span class="fa fa-map-marker"></span> 27 Rue des Reigniers <br> 44120 Vertou </p>
                                <p class="dt-sc-contact-info"><span class="fa fa-envelope"></span><a href="mailto:contact@lecoleenfete.fr"> contact@lecoleenfete.fr </a></p>
                            </div>
                        </aside>
                    </div>-->
                    
                </div>    
                <!--container ends-->
            </div>
            <!--footer-widgets-wrapper ends-->  
            <div class="copyright">
        		<div class="container">
                	<p class="copyright-info">2015 - L'école en fête - APE des Reigniers - Association loi 1901 - <?= $identity != null ? '<a href="/admin">Administration</a>' : '<a href="/session/login">Connexion</a>' ?></p>
        			<!--<div class="footer-links">
                        <p>Follow us</p>
                        <ul class="dt-sc-social-icons">
                        	<li class="facebook"><a href="#"><img src="images/facebook.png" alt="" title=""></a></li>
                            <li class="twitter"><a href="#"><img src="images/twitter.png" alt="" title=""></a></li>
                            <li class="gplus"><a href="#"><img src="images/gplus.png" alt="" title=""></a></li>
                            <li class="pinterest"><a href="#"><img src="images/pinterest.png" alt="" title=""></a></li>
                        </ul>
                    </div>-->
        		</div>
        	</div>  
        </footer>
        <!--footer ends-->
        
    </div>